<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Analog Monitor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <ion-list-header>
      <ion-label>
        <h2>Live Value</h2>
      </ion-label>
    </ion-list-header>

    <ion-list *ngFor="let monitor of monitors">
      <ion-item>
        <ion-label>{{ monitor.detail }}</ion-label>
        <ion-note slot="end" color="primary">{{ monitor.value }} {{ monitor.unit }}</ion-note>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="control">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Control</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="Logout" (click)="logout()">
      <ion-icon name="lock-closed"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->